<table width="100%" >
    <tr>
        <td class="conditions-area" width="1" >
            <app-calc-emulater ></app-calc-emulater>
        </td>
        <td class="conditions-area" >
            <app-condition-way *ngIf="curCondsTree" [item]="curCondsTree" [isFirstNode]="true" ></app-condition-way>
            <div *ngIf="!curCondsTree" >
                <div class="tree-node uk-panel-box" [class.solution]="true" >
                    <h1>Не выбран продукт</h1>
                </div>
            </div>
        </td>
        <td class="conditions-area" width="1" >
            <app-condition-trees></app-condition-trees>
        </td>
    </tr>
</table>